.circle1 {
  position: absolute;
  top: -45%;
  right: -35%;
}
.circle2 {
  position: absolute;
  bottom: -65%;
  left: -70%;
}

.info {
  width: 517.75px;
  height: 634.824px;
  border-radius: 26.241px;
  background: #ff6656;
  backdrop-filter: blur(20.689815521240234px);

  position: relative;
  padding: 40px 50px;

  .title {
    color: #fff;
    font-family: LabGrotesque;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .image {
    position: absolute;
  }
}
