.formWrap {
  width: 400px;

  .title{
    font-family: LabGrotesque;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 12px;
  }

  .tabs{
    margin-bottom: 24px;
  }

  .input{
    margin-bottom: 16px;
  }

}
